.new-tweet {
  display: none;
  background-color: #eee;
  content-align: center;
  width: 100%;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;

  h2 {
  border-bottom: 1px solid black;
  }

  textarea {
  width: 100%;
  resize: none;
  }

  input {
  margin-bottom: 10px;
  }

  .counter {
  font-size: 15px;
  float: right;
  margin-top: 5px;
  }
}
