.tweets {
  content-align: center;
  width: 100%;
  padding: 10px 0;
}

.tweet {
  border: 1px solid lightgrey;
  border-radius: 5px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.tweet:hover {
  opacity: 1;
}

.tweet .icons {
  float: right;
  display: none;
}

.tweet:hover .icons {
  display: inline;
}

.tweet header {
  background-color: #eee;
  padding: 10px;
}

.tweet p {
  padding: 20px;
}

.tweet footer {
  padding: 10px;
  border-top: 1px solid #eee;
}

.tweet .user {
  font-size: 1.5em;
  vertical-align: top;
}

.tweet .user img {
  height: 60px;
  width: 60px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.tweet .handle {
  color: grey;
  padding: 10px;
  float: right;
}
